@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-size: 28px;
}

body {
  background-color: #555b6e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 570px;
  margin: 20px auto;
  border-radius: 5px;
  background-color: #353535;
}

.text {
  text-transform: uppercase;
  color: #ffffff;
}

.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 380px;
  height: 520px;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 50px;
  width: 375px;
  height: 80px;
  border-radius: 5px;
  background-color: #edede9;
}

.display .operation {
  width: inherit;
  height: 30%;
  padding: 0 5px;
}

.display .result {
  width: inherit;
  height: 70%;
  font-size: 35px;
  padding: 10px 5px;
}

.btn {
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  width: 90px;
  height: 80px;
  padding: 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
}

.btn:hover {
  opacity: 85%;
}

.sup {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  background-color: #e5383b;
}

.c {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  background-color: #0077b6;
}

.add {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  background-color: #ff6b35;
}

.sub{
  grid-column: 4/span 1;
  grid-row: 2/span 1;
  background-color: #ff6b35;
}

.product {
  grid-column: 4/span 1;
  grid-row: 3/span 1;
  background-color: #ff6b35;
}

.divide {
  grid-column: 4/span 1;
  grid-row: 4/span 1;
  background-color: #ff6b35;
}

.equal {
  grid-column: 4/span 1;
  grid-row: 5/span 2;
  height: 167px;
  background-color: #007f5f;
}

.dot {
  grid-column: 1/span 1;
  grid-row: 6/span 1;
}

.hi {
  background-color: #fcca46;
}