@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  /*colors of the calculator*/
  --color-calculator_body: #353535;
  --color-calculator_display: #f8f9fa;
  --color-calculator_display_border: #dee2e6;
  /*button colors*/
  --color-btn-base: #6c757d;
  --color-btn-text: #343a40;
  --color-btn-btn_memory: #588157;
  --color-btn-btn_delete: #ff5e5b;
  --color-btn-btn_operate: #a3b18a;
  --color-btn-btn_border: #f8f9fa;
  /*help dialog colors*/
  --color-background: #353535;
  --color-text: #dee2e6;
  --color-emphasis: #588157;
  --color-close-link: #ff5e5b;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  background-color: #555b6e;
}

/*main container*/
.container {
  /*because the help dialog will be on top*/
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 600px;
  margin: 5px auto;
  border-radius: 5px;
  background-color: var(--color-calculator_body);
}

.text {
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

/*group the display and buttons*/
.calc-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*the first row is for the display*/
  grid-template-rows: repeat(7, 1fr);
  width: 300px;
  height: 570px;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  /*inherits the width of the calc-container*/
  width: inherit;
  height: 180px;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  color: var(--color-btn-text);
  background-color: var(--color-calculator_display);
}

.display span {
  font-size: 12px;
  letter-spacing: .8px;
  line-height: 90%;
}

.display .memory {
  display: inline-flex;
  width: 100%;
  height: 33%;
  padding: 3px 0;
  line-height: 90%;
  overflow-x: scroll;
  border-bottom: 1px solid var(--color-calculator_display_border);
}

.display .memory .memory-label {
  width: 25px;
  height: 100%;
  margin-right: 5px;
  color: var(--color-btn-btn_memory);
}

.display .memory .memory-slot {
  width: 100%;
  height: 100%;
  font-style: italic;
}

.display .operation {
  width: 100%;
  height: 33%;
  padding: 3px 0;
  line-height: 90%;
  overflow-x: scroll;
  border-bottom: 1px solid var(--color-calculator_display_border);
}

.display .result {
  width: 100%;
  height: 33%;
  font-size: 30px;
  font-weight: bold;
  padding: 3px 0;
  line-height: 90%;
  overflow-x: scroll;
}

.btn {
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
  width: 70px;
  height: 60px;
  padding: 4px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  font-family: 'Bebas Neue', cursive;
  color: var(--color-btn-text);
  background-color: var(--color-btn-base);
}

.btn:hover {
  opacity: 85%;
  border: 1px solid var(--color-btn-btn_border);
}

.sup {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  background-color: var(--color-btn-btn_delete);
}

.c {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  background-color: var(--color-btn-btn_delete);
}

.m-set {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  background-color: var(--color-btn-btn_memory);
}

.m-get {
  grid-column: 4/span 1;
  grid-row: 2/span 1;
  background-color: var(--color-btn-btn_memory);
}

.m-del {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  text-decoration: line-through;
  background-color: var(--color-btn-btn_memory);
}

.add {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
}

.sub{
  grid-column: 3/span 1;
  grid-row: 3/ span 1;
}

.product {
  grid-column: 4/span 1;
  grid-row: 3/span 1;
}

.divide {
  grid-column: 4/span 1;
  grid-row: 4/span 1;
}

.negative {
  grid-column: 4/span 1;
  grid-row: 5/span 1;
}

.dot {
  grid-column: 1/span 1;
  grid-row: 7/span 1;
}

.equal {
  grid-column: 4/span 1;
  grid-row: 6/span 2;
  height: 126px;
}

.add, .sub, .product, .divide, .negative, .dot, .equal {
  background-color: var(--color-btn-btn_operate);
}

/**help dialog styles*/

.help-container {
  /*absolute to container class*/
  position: absolute;
  display: none;
  width: 310px;
  height: 600px;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  color: var(--color-text);
  background-color: var(--color-background);
}

.help-container-visible {
  display: block;
}

.help-container .help-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid var(--color-text);
}

.help-container .help-heading .help-title, .help-close-button {
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 90%;
  font-weight: bold;
}

.help-container .help-heading .help-close-button {
  text-decoration: none;
  padding: 5px 10px;
  width: auto;
  border-radius: 5px;
  color: var(--color-close-link);
}

.help-container .help-heading .help-close-button:hover {
  background-color: var(--color-close-link);
  color: var(--color-text);
  cursor: pointer;
  transition: 1ms;
}

.help-container .help-content {
  font-size: 13px;
  line-height: 1.6;
}

.help-container .help-content .help-line {
  margin: 8px 0;
  border-bottom: 1px solid var(--color-text);
}

/*to put an * in front of every p*/
.help-container .help-content .help-line::before {
  content: "*";
  font-size: 20px;
  line-height: 90%;
  font-weight: bold;
  color: var(--color-text);
}

.help-container .help-content .help-line .help-emphasis {
  font-weight: bold;
  font-size: 14px;
  padding: 2px 4px;
  border-radius: 3px;
  color: var(--color-emphasis);
  background-color: var(--color-text);
}

/*to put a line through the M on the p in third position*/
.help-container .help-content .help-line:nth-child(3) .help-emphasis {
  text-decoration: line-through;
}

/*to edit the "a" tag in the seventh p*/
.help-container .help-content .help-line:nth-child(7) a {
  color: var(--color-emphasis);
}